
<div class='row'>
    <div class="col-md-6 offset-md-3">
    
        <%= form_with(model: @post, url: post_path, local: true) do |f| %>
            <div class="form-group">
                <%= f.label :title %> 
                <%= f.text_field :title, class:'form-control' %>
            </div>
            <div class="form-group">
                <%= f.label :image %> 
                <%= f.text_field :image, class:'form-control' %>
            </div>
            <div class="form-group">
                <%= f.label :content %> 
                <%= f.text_field :content, class:'form-control' %>
            </div>
            <div class="offset-md-5">
                <%= f.submit class: 'btn btn-info'%> 
                
                
            </div>    
        <% end %>
    </div>
</div>

